<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>太美工作流平台</title>
</head>
<body>
<h1 layout:fragment="header">工作流</h1>
<div layout:fragment="content"
     class="container">
    <legend>部署流程资源</legend>
    <span class="alert alert-info"><b>支持文件格式：</b>zip、bar、bpmn、bpmn20.xml</span>
    <form action= "/deployment/upload" method="post" enctype="multipart/form-data" style="margin-top:1em;">
        <table>
            <tr><td>  <input type="file" name="file" /></td></tr>
            <tr><td><label th:text="租户id"/></td><td>    <input type="input" id="tenantId" name="tenantId" /></td></tr>
            <tr><td>   <input type="submit" value="Submit" class="btn" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>