<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>流程定义列表</title>
    <script   src="http://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
</head>
<body>
<h1 layout:fragment="header">流程定义列表</h1>
<div layout:fragment="content" class="container">

    <form action= "/activiti/upload" method="post" enctype="multipart/form-data" style="margin-top:1em;">
    <legend>部署流程资源</legend>
    <span class="alert alert-info"><b>支持文件格式：</b>zip、bar、bpmn、bpmn20.xml</span>
    <input type="file" name="file" />
    租户id:
    <input type="input" id="tenantId" name="tenantId" />
    <input type="submit" value="Submit" class="btn"/>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>流程定义ID</th>
            <th>部署id</th>
            <th>租户id</th>
            <th>流程定义名称</th>
            <th>流程定义KEY</th>
            <th>版本号</th>
            <th>XML资源名称</th>
            <th>图片资源名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${processes.empty}">
            <td colspan="3">
                No messages
            </td>
        </tr>
        <tr th:each="process : ${processes}">
            <td th:text="${process.id}"></td>
            <td th:text="${process.deploymentId}"></td>
            <td th:text="${process.tenantId}"></td>
            <td th:text="${process.name}"></td>
            <td th:text="${process.key}"></td>
            <td th:text="${process.version}"></td>
            <td th:text="${process.resourceName}"></td>
            <td th:text="${process.diagramResourceName}"></td>
            <td>
                <a  class="btn"  th:href="@{'/deployment/delete-deployment?deploymentId=' + ${process.deploymentId}}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>