<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>任务办理</title>
    <link rel="stylesheet"     href="../../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../../js/common/jquery.js"></script>
    <script type="text/javascript" src="../../js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/common/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.datepicker').datepicker();
        });
    </script>
</head>
<body>
<form action="$/task/completeFormTask/${hasFormKey ? task.id : taskFormData.task.id}" class="form-horizontal" method="post">
    
</form>

</body>